@tailwind base;
@tailwind components;
@tailwind utilities;

.doctor-card {
    transition: all 0.3s ease;
}

.doctor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.button {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded; 
}