{% extends "general.html" %}


{% block title %}Find a Doctor{% endblock %}

{% block content %}

<div class="flex flex-col space-y-2">
    {% for doctor in doctors %}
    <div class="w-full rounded-md border shadow-md p-2">
        <div class="flex justify-between ">
            <div class="flex flex-row space-x-2 p-5 relative">
                <div class="text-center  place-items-center place-content-center items-center">
                    <div 
                        class="w-40 h-40 bg-slate-500 rounded-full bg-center bg-cover bg-no-repeat"
                        style="background-image:url('https://img.freepik.com/free-photo/portrait-3d-male-doctor_23-2151107212.jpg?t=st=1744655670~exp=1744659270~hmac=f91baec1a6788377e3821ff0845f93984264d79698e7e66874453327af4cf361&w=1380')"
                    ></div>
                </div>
                <div class="bottom-0">
                    <h3 class="text-xl">{{doctor.full_name}}</h3>
                    <div class="flex flex-col mt-5 text-sm text-gray-600">
                        <p><span class="font-bold">Specialty:</span> {{doctor.speciality}}</p>
                        <p><span class="font-bold">Experience:</span> {{doctor.experience}}</p>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="bg-slate-500 text-white px-4 py-2 rounded-md hover:bg-slate-600 transition duration-200">
                    <a href="/doctor/{{doctor.id}}">Book Appointment</a>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}