<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Island Dental Cline Service{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/static/build/styles.css" rel="stylesheet">
    <script src="/static/js/utils.js"></script>
</head>
<body class="bg-gray-50">
    <div class="min-h-screen  max-w-7xl mx-auto space-y-2">
        <div class="flex items-center justify-between">
            <div>
                <img src="/static/images/logo.png" alt="Logo" width="60">
            </div>
            <div>
                <h2 class="text-xl font-extralight text-gray-800">Island Dental Cline Service</h2>
            </div>
            <div class="flex justify-center gap-2 items-center">
                {% if user %}
                <div>
                    <a href="/logout" class="hover:underline">Logout</a>
                </div>
                {% else %}
                <div>
                    <a href="/login" class="hover:underline">Login</a>
                </div>
                <div>
                    <a href="/register" class="hover:underline">Register</a>
                </div>
                {% endif %}
                <div>
                    <!-- Current Location -->
                     <button class="" id="location-button" onclick="showLocationModal()">
                        {% if user %}
                            Change {{ user.get("location") }} 
                        {% else %}
                            Choose Location
                        {% endif %}
                     </button>
                </div>
            </div>
        </div>
        <div class="border shadow-md p-5 rounded-md">
        <div class="space-x-5 relative flex items-center text-gray-700">

            <!-- Doctors -->
            <div class="relative group">
            <a href="/"
                class="{% if request.url.path == '/' %}text-blue-600 font-semibold{% else %}hover:underline{% endif %}">
                Home
            </a>
            </div>
            <!-- Doctors -->
            <div class="relative group">
            <a href="/find-a-doctor"
                class="{% if request.url.path == '/find-a-doctor' %}text-blue-600 font-semibold{% else %}hover:underline{% endif %}">
                Doctors
            </a>
            </div>

            <!-- Services -->
            <a href="/services"
            class="{% if request.url.path == '/services' %}text-blue-600 font-semibold{% else %}hover:underline{% endif %}">
            Services
            </a>

            <!-- About Us -->
            <a href="/about-us"
            class="{% if request.url.path == '/about-us' %}text-blue-600 font-semibold{% else %}hover:underline{% endif %}">
            About Us
            </a>

        </div>
        </div>
        <div class="w-full">
          {% block content %}{% endblock %}
          <div id="location-modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50 bg-white rounded-lg shadow-lg">
            <div class="bg-white p-6 rounded-lg shadow-lg w-96">
                <h2 class="text-lg font-bold mb-4">Choose Your Location</h2>
                <ul class="space-y-2" id="clinic-list">
                </ul>
                <button id="close-modal" class="mt-4 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
                    Close
                </button>
            </div>
          </div>
        </div>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleButton = document.getElementById('doctor-toggle');
        const doctorList = document.getElementById('doctor-list');
        // location modal 
        const locationModal = document.getElementById('location-modal');
        const closeModalButton = document.getElementById('close-modal');
        const locationButton = document.getElementById('location-button');

        // Toggle visibility

        if(toggleButton){
            toggleButton.addEventListener('mouseover', function (e) {
                e.stopPropagation();
                doctorList.classList.toggle('hidden');
            });
        }

        // Hide dropdown when clicking outside
        if(doctorList){
        document.addEventListener('click', function (e) {
            if (!doctorList.contains(e.target) && !toggleButton.contains(e.target)) {
                doctorList.classList.add('hidden');
            }
        });
        }

        showLocationModal = function () {
            locationModal.classList.remove('hidden');
        }
        closeModalButton.addEventListener('click', function () {
            locationModal.classList.add('hidden');
        });

        selectClinic = function (locations) {
            const {clinic_id, location} = locations
            locationModal.classList.add('hidden');
            fetch('/api/setlocation', {
                method: 'POST',
                body: JSON.stringify({ clinic_id: clinic_id, location: location })
            })
            .then(response => {
                if (response.ok) {
                    console.log('Location set successfully');
                    document.getElementById('location-button').textContent = `Change ${location}`;
                } else {
                    console.error('Error setting location');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        // get clinics 

        fetch('/api/clinics')
            .then(response => response.json())
            .then(data => {
                const clinicList = document.getElementById('clinic-list');
                data.forEach(clinic => {
                    const listItem = document.createElement('li');
                    listItem.textContent = clinic.name;
                    listItem.id = clinic.id;
                    listItem.classList.add('hover:underline');
                    listItem.classList.add('cursor-pointer');
                    listItem.addEventListener('click', (clinic) => selectClinic({
                        clinic_id: clinic.target.id,
                        location: clinic.target.textContent
                    }));
                    clinicList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error fetching clinics:', error));
    // Close the modal when clicking outside of it
    

    });
</script>